@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --clr-red: #ea5353;
  --clr-cyan: #45d3d3;
  --clr-orange: #fcaf4a;
  --clr-blue: #549ef2;
  --clr-blue-dark: #4c4e61;
  --clr-blue-grey: #a3a5ae;
  --clr-grey-light: #fafafa;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--clr-grey-light);
  color: var(--clr-blue-dark);
}

.header {
  width: 60rem;
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
}

.header h3 {
  font-size: 3rem;
  font-weight: 200;
}

.header h2 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.header p {
  font-size: 1.5rem;
  color: var(--clr-blue-grey);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  width: 110rem;
  margin: 0 auto;
}

.card {
  position: relative;
  background-color: white;
  width: 37.5rem;
  height: 25rem;
  padding: 2.5rem;
  border-top: 4px solid;
  border-radius: 10px;
  -webkit-box-shadow: 0 2rem 3rem rgba(163, 165, 174, 0.4);
          box-shadow: 0 2rem 3rem rgba(163, 165, 174, 0.4);
}

.card h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card p {
  color: var(--clr-blue-grey);
  font-size: 1.4rem;
}

.card img {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.cyan {
  border-top-color: var(--clr-cyan);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.red {
  border-top-color: var(--clr-red);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.orange {
  border-top-color: var(--clr-orange);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.blue {
  border-top-color: var(--clr-blue);
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 1150px) {
  .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 72rem;
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
  }
  .cyan {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .red {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .orange {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .blue {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media screen and (max-width: 760px) {
  .header {
    max-width: 37.5rem;
    padding: 3rem .5rem;
  }
  .grid {
    -ms-grid-columns: 37.5rem;
        grid-template-columns: 37.5rem;
    -ms-grid-rows: (25rem)[4];
        grid-template-rows: repeat(4, 25rem);
    width: 37.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cyan {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .red {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .orange {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 /2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .blue {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 /2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
}

@media screen and (max-width: 400px) {
  .header,
  .grid,
  .card {
    width: 32.5rem;
  }
  .header h2 {
    font-size: 2.2rem;
  }
  .header h3 {
    font-size: 2.4rem;
  }
  .card {
    padding: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */